In [1]:
from DescriptiveAnalysis import DescriptiveAnalysis

In [2]:
import pandas as pd

In [3]:
obj=DescriptiveAnalysis()

In [4]:
dataset=pd.read_csv("Placement_Data_Full_Class.csv")

In [5]:
dataset['salary']=dataset['salary'].fillna(0)

In [6]:
quan,qual=obj.quanqual(dataset)

In [7]:
obj.centraltendency(dataset,quan)

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean         108  67.3034  66.3332  66.3702  72.1006  62.2782  198702
median       108       67       65       66       71       62  240000
mode           1       62       63       65       60     56.7       0
null           0        0        0        0        0        0       0
nan            0        0        0        0        0        0       0
count        215      215      215      215      215      215     215
min            1    40.89       37       50       50    51.21       0
25%         54.5     60.6     60.9       61       60   57.945       0
50%          108       67       65       66       71       62  240000
75%        161.5     75.7       73       72     83.5   66.255  282500
100%         215     89.4     97.7       91       98    77.89  940000
IQR          107     15.1     12.1       11     23.5     8.31  282500
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465  423750
Lesser      -106    37.95    42.75     44.5    24.75    45.48 -423750
Greater      215    83.25    79.05     77.5    95.25    70.41  423750
std      62.2093  10.8272  10.8975  7.35874   13.276  5.83338  154781

In [8]:
des_data=obj.centraltendency(dataset,quan)

In [9]:
obj.outliers_range(des_data,quan)

Lesser Range ['hsc_p']
Greater Range ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

(['hsc_p'], ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'])

In [10]:
lesser,greater=obj.outliers_range(des_data,quan)

Lesser Range ['hsc_p']
Greater Range ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [11]:
obj.changeoutlier(des_data,dataset,lesser,greater)
obj.centraltendency(dataset,quan)

C:\Users\Madhu\Documents\HOPE\Data Science\DescriptiveAnalysis.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[i][dataset[i]<des_data[i]['Lesser']]=des_data[i]['Lesser']
C:\Users\Madhu\Documents\HOPE\Data Science\DescriptiveAnalysis.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[j][dataset[j]>des_data[j]['Greater']]=des_data[j]['Greater']

           sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean         108  67.1204  65.6219  66.1191  72.0433  62.0096  192819
median       108       67       65       66       71       62  240000
mode           1    83.25    79.05       65       60    70.41       0
null           0        0        0        0        0        0       0
nan            0        0        0        0        0        0       0
count        215      215      215      215      215      215     215
min            1    40.89    42.75       50       50    51.21       0
25%         54.5     60.6     60.9       61       60   57.945       0
50%          108       67       65       66       71       62  240000
75%        161.5     75.7       73       72     83.5   66.255  282500
100%         215    83.25    79.05     77.5    95.25    70.41  423750
IQR          107     15.1     12.1       11     23.5     8.31  282500
1.5rule    160.5    22.65    18.15     16.5    35.25   12.465  423750
Lesser      -106    37.95    42.75     44.5    24.75    45.48 -423750
Greater      215    83.25    79.05     77.5    95.25    70.41  423750
std      62.2093  10.5218  9.29268  6.83702  13.1712  5.33391  139144